# Python Learning for Data Scientists: Session 1

In [1]:
# Is my notebook working?
1 + 2

3

Check out these useful links for learning Jupyter:
* [Jupyter Notebook Tutorial](https://www.datacamp.com/community/tutorials/tutorial-jupyter-notebook)
* [Jupyter Cheatsheet](https://s3.amazonaws.com/assets.datacamp.com/blog_assets/Jupyter_Notebook_Cheat_Sheet.pdf)
* [Jupyter Keyboard Shortcut](https://www.cheatography.com/weidadeyue/cheat-sheets/jupyter-notebook/pdf_bw/)
* [Markdown for Jupyter](https://medium.com/ibm-data-science-experience/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed)

In [2]:
# Anything following the pound key is a comment that is ignored by the interpreter
# Example of dynamic typing:
a = 2
a

2

In [3]:
a = 'one'
a

'one'

In [4]:
# Python has syntax that is based on new lines and indentation
if 1 == 1:
     print('1 equals 0!')
    
print('Hi!')

1 equals 0!
Hi!

## Data Types

In [5]:
my_int = 4
my_int * 3

12

In [6]:
my_float = 4.0
my_float * 3

12.0

In [7]:
my_string = '4'
my_string * 3

'444'

In [8]:
my_list = [my_int, my_float, my_string]
my_list * 3

[4, 4.0, '4', 4, 4.0, '4', 4, 4.0, '4']

In [9]:
my_2D_list = [[my_int, my_float, my_string]]
my_2D_list * 3

[[4, 4.0, '4'], [4, 4.0, '4'], [4, 4.0, '4']]

In [10]:
[[my_int, my_float, my_string]] == [my_list]

True

In [11]:
[my_list]

[[4, 4.0, '4']]

In [12]:
my_int = my_int + 1
my_int

5

In [13]:
my_int += 1
my_int

6

In [14]:
my_int = my_string
my_int

'4'

## List Indexing, Slicing, Operators
Based on [Railsware's tutorial](https://railsware.com/blog/python-for-machine-learning-indexing-and-slicing-for-lists-tuples-strings-and-other-sequential-types/).

In [15]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
colors[0]

'red'

In [16]:
colors[5]

'black'

In [17]:
colors[-2]

'white'

In [18]:
# Assignment
colors[3] = 'pink'
colors

['red', 'green', 'blue', 'pink', 'white', 'black']

In [19]:
# Deletion
del colors[2]
colors

['red', 'green', 'pink', 'white', 'black']

In [20]:
colors += ['purple']
colors

['red', 'green', 'pink', 'white', 'black', 'purple']

In [21]:
nums = [10, 20, 30, 40, 50, 60, 70, 80, 90]
nums[2:7]

[30, 40, 50, 60, 70]

In [22]:
nums[0:9]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [23]:
nums

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [24]:
nums[-7:-1]

[30, 40, 50, 60, 70, 80]

In [25]:
nums[-7:-1:3]

[30, 60]

In [26]:
len(nums)

9

In [27]:
nums[:4]

[10, 20, 30, 40]

In [28]:
nums[4:]

[50, 60, 70, 80, 90]

In [29]:
nums[-2:]

[80, 90]

In [30]:
nums[0:4:2]

[10, 30]

In [31]:
nums[::2]

[10, 30, 50, 70, 90]

In [32]:
nums[::-1]

[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [33]:
# This is what happens if we try to access an item that doesn't exist
nums[10]

IndexError: list index out of range

In [34]:
1 == 2 - 1

True

In [35]:
10 in nums

True

In [36]:
nums = [10, 20, 30, 40, 50, 60, 70, 80, 90]

In [37]:
11 in nums

False

In [38]:
my_2D_list  += [nums]
my_2D_list

[[4, 4.0, '4'], [10, 20, 30, 40, 50, 60, 70, 80, 90]]

In [39]:
my_2D_list[1]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [40]:
my_2D_list[1][2:4]

[30, 40]

## Control Structures
### Python Operators
Check [this](https://www.tutorialspoint.com/python3/python_basic_operators.htm) out for a tutorial about Python's basic operators.

In [41]:
my_boolean = 3 > 0
my_boolean

True

In [42]:
my_boolean * 3

3

In [43]:
3 == 2

False

In [44]:
3 != 2

True

In [45]:
3 > 2

True

In [46]:
3 <= 2

False

In [47]:
# Experiment here with different numbers and anticipate the results
num = 111
if num > 7:
    print('Bigger than 7')
    if num >= 10 and num <= 55:
        print('Between 10 and 55')
    elif num <= 88:
        print('Bigger than 55 and smaller thn 88, or bigger than 7 and smaller than 10')
    else:
        print('Bigger than 88')

Bigger than 7
Bigger than 88

In [48]:
colors

['red', 'green', 'pink', 'white', 'black', 'purple']

In [49]:
for color in colors:
    print(color + "!")

red!
green!
pink!
white!
black!
purple!

In [50]:
nums

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [51]:
i = 0
while i < len(nums):
    print(nums[i] ** 2)
    i += 1

100
400
900
1600
2500
3600
4900
6400
8100

In [52]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
for i in range(len(nums)):
    print(nums[i] ** 2)

100
400
900
1600
2500
3600
4900
6400
8100

## Homework
### 1. Write code that defines a list with 10 numbers and prints a sorted version of the list.
The example below shows the desired input and output of the code and uses a built in function for sorting, but you'd have to do the sorting using only basic operations - variable assignments, and control structures (loops, conditions, etc.).

In [ ]:
# Example of input and output:
my_list = [2, 4, 0.3, 6, 0, 1, 3.465, 8, 1.5, 9]
sorted(my_list)

### 2. Find two ways to slice ['apple', 'orange', 'guava'] from this list:

In [ ]:
my_list = ['avocado', 'banana', 'apple', 'mandarin', 'orange', 'pineapple', 'guava']

In [ ]:
my_list[2]

In [ ]:
copy1 = [my_list[2],my_list[4], my_list[6]]
print("copy 1:   ", copy1)
copy1_2= my_list[2::2]
print("copy 1.2: ", copy1_2)
copy2 = slice(2, 7, 2)
print("copyt 2:  ", my_list[copy2])

### 3. Experiment with a new keyboard shortcut on Jupyter Notebook and share it with the class.